{% extends 'layouts/base.html.twig' %}

{% block title %}Liste des sorties | {{  parent() }}{% endblock %}

{% block body %}

    <section class="list-sortie-filters w-4/5 mx-auto">
        <h2>Filtrer les sorties</h2>
        <div class="flex flex-row flex-wrap items-center justify-between w-full p-4">
            <div class="flex items-center justify-start">
                {{ form_start(searchForm, {'attr': {'class': 'flex-start'}}) }}
                <div class="flex flex-row m-3 justify-between">
                    <p class="content-center my-auto min-w-40">{{ form_label(searchForm.campus) }}</p>
                    {{ form_widget(searchForm.campus, {'attr': {'class': 'form-input mt-1 p-2 block w-3/4 rounded-md border-gray-300 shadow-sm focus:ring focus:ring-[#fac108] focus:ring-opacity-50'}}) }}
                </div>
                <div class="flex flex-col m-3">
                    <div class="flex flex-row items-start justify-between">
                        <p class="content-center my-auto min-w-40">{{ form_label(searchForm.searchTerm) }}</p>
                        {{ form_widget(searchForm.searchTerm, {'attr': {'class': 'form-input block w-3/4 p-2 rounded-md border-gray-300 shadow-sm focus:ring focus:ring-[#fac108] focus:ring-opacity-50 my-auto'}}) }}
                    </div>
                        {% if searchForm.searchTerm.vars.errors|length > 0 %}
                            <p class="text-red-500 text-sm mt-1 text-center">
                                {% for error in searchForm.searchTerm.vars.errors %}
                                    <span>{{ error.message }}</span><br>
                                {% endfor %}
                            </p>
                        {% endif %}
                </div>
                <div class="flex flex-col m-3">
                    <div class="flex flex-row">
                        <p class="content-center my-auto min-w-40">{{ form_label(searchForm.startDate) }}</p>
                        {{ form_widget(searchForm.startDate, {'attr': {'class': 'form-input mt-1 p-2 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-[#fac108] focus:ring-opacity-50'}}) }}
                    </div>
                    {% if searchForm.startDate.vars.errors|length > 0 %}
                        <p class="text-red-500 text-sm mt-2 text-center">
                            {% for error in searchForm.startDate.vars.errors %}
                                <span>{{ error.message }}</span><br>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="flex flex-col m-3">
                    <div class="flex flex-row">
                        <p class="content-center my-auto min-w-40">{{ form_label(searchForm.endDate) }}</p>
                        {{ form_widget(searchForm.endDate, {'attr': {'class': 'form-input mt-1 block p-2 w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-[#fac108] focus:ring-opacity-50'}}) }}
                    </div>
                    {% if searchForm.endDate.vars.errors|length > 0 %}
                        <p class="text-red-500 text-sm mt-2 text-center">
                            {% for error in searchForm.endDate.vars.errors %}
                                <span>{{ error.message }}</span><br>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="flex flex-col items-start">
                <div class="flex flex-row m-3 justify-around">
                    {{ form_widget(searchForm.isOrganisateur, {'attr': {'style': 'accent-color: gold;'}}) }}
                    <p class="ml-2 ">{{ form_label(searchForm.isOrganisateur) }}</p>
                </div>
                <div class="flex flex-row m-3 justify-around">
                    {{ form_widget(searchForm.isInscrit, {'attr': {'style': 'accent-color: gold;'}}) }}
                    <p class="ml-2">{{ form_label(searchForm.isInscrit) }}</p>
                </div>
                <div class="flex flex-row m-3 justify-around">
                    {{ form_widget(searchForm.isNotInscrit, {'attr': {'style': 'accent-color: gold;'}}) }}
                    <p class="ml-2">{{ form_label(searchForm.isNotInscrit) }}</p>
                </div>
                <div class="flex flex-row m-3 justify-around">
                    {{ form_widget(searchForm.showTerminees, {'attr': {'style': 'accent-color: gold;'}}) }}
                    <p class="ml-2">{{ form_label(searchForm.showTerminees) }}</p>
                </div>
            </div>
            <button class="h-fit w-1/5 btn-hover-transition">Rechercher</button>
            {{ form_end(searchForm) }}
        </div>
    </section>

    <section class="list-sorties-container my-10">
        <h1 class="font-light leading-snug tracking-tight text-slate-800 mx-auto my-6 w-full text-center text-2xl lg:max-w-3xl lg:text-5xl">Liste des sorties</h1>
        <div class="relative flex flex-col w-full h-full overflow-visible text-gray-700 bg-white shadow-md rounded-lg bg-clip-border px-4">
            {% if sorties is not empty  %}
                <table class="w-full text-left table-auto min-w-max text-slate-800">
                    <thead>
                        <tr class="text-slate-500 border-b border-slate-300 bg-slate-50">
                            <th class="p-4"><p class="text-sm leading-none font-normal">Nom de la sortie</p></th>
                            <th class="p-4"><p class="text-sm leading-none font-normal">Date de la sortie</p></th>
                            <th class="p-4"><p class="text-sm leading-none font-normal">Clôture</p></th>
                            <th class="p-4"><p class="text-sm leading-none font-normal">Inscrits/Places</p></th>
                            <th class="p-4"><p class="text-sm leading-none font-normal">Etat</p></th>
                            <th class="p-4"><p class="text-sm leading-none font-normal">Inscrit</p></th>
                            <th class="p-4"><p class="text-sm leading-none font-normal">Organisateur</p></th>
                            <th class="p-4"><p class="text-sm leading-none font-normal">Actions</p></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in sorties %}
                            <tr class="hover:bg-slate-50">
                                <td class="p-4"><p class="text-sm font-bold link-hover-yellow"><a href="{{ path('sortie_details', { id: s.id }) }}">{{ s.nom }}</a></p></td>
                                <td class="p-4"><p class="text-sm font-bold">{{ s.dateHeureDebut | date('d/m/Y H:i') }}</p></td>
                                <td class="p-4"><p class="text-sm font-bold">{{ s.dateLimiteInscription | date('d/m/Y') }}</p></td>
                                <td class="p-4"><p class="text-sm font-bold">{{ s.participants | length }} / {{ s.nbInscriptionMax }}</p></td>
                                <td class="p-4"><p class="text-sm font-bold">{{ s.etat.libelle.label }}</p></td>
                                <td class="p-4"><p class="text-sm font-bold text-center">{{ currentUser in s.participants ? '<i class="fa-solid fa-check"></i>' : '' }}</p></td>
                                <td class="p-4"><p class="text-sm font-bold pb-1 link-hover-yellow"><a href="{{ path('app_profile_show', { pseudo: s.organisateur.pseudo }) }}">{{ s.organisateur.nomComplet }}</a></p></td>
                                <td class="p-4"><p class="text-sm font-bold">
                                    {% set etatEnum = enum('App\\Enum\\EtatEnum') %}
                                    {% set now = "now" | date_modify("+0 seconds") %}
                                    <div class="flex flex-row justify-around text-center w-full">
                                        {% if (currentUser in s.participants) and (s.etat.libelleString in [etatEnum.Ouverte.value, etatEnum.Cloturee.value]) %}
                                            <a class="icon-hover-transition" title="Me désinscrire" href="{{ path('sortie_desinscription', {'id': s.id, from: 'sortie_list' }) }}">
                                                <i class="fa-solid fa-xmark mx-1"></i>
                                            </a>
                                        {% elseif (currentUser not in s.participants)
                                            and (currentUser is not same as s.organisateur)
                                            and (s.etat.libelleString is same as (etatEnum.Ouverte.value))
                                            and (s.dateLimiteInscription > now)
                                            and (s.nbInscriptionMax > s.participants | length) %}
                                            <a
                                                href="{{ path('sortie_inscription', { id: s.id, from: 'sortie_list' }) }}"
                                                class="icon-hover-transition" title="M'inscrire">
                                                <i class="fa-solid fa-plus mx-1"></i>
                                            </a>
                                        {% endif %}

                                        {% if currentUser is same as (s.organisateur) and s.etat.libelleString is same as (etatEnum.EnCreation.value)%}
                                            <a class="icon-hover-transition" title="Publier" href="{{ path('sortie_publish', { id: s.id }) }}">
                                                <i class="fa-solid fa-upload mx-1"></i>
                                            </a>
                                            <form method="POST" action="{{ path('sortie_delete', { id: s.id }) }}"
                                                  onsubmit="return confirm('Confirmer la suppression ?');"
                                            >
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ s.id) }}">
                                                <button type="submit" class="icon-hover-transition" title="Supprimer">
                                                    <i class="fa-solid fa-trash mx-1"></i>
                                                </button>
                                            </form>
                                        {% endif %}

                                        {% if currentUser is same as (s.organisateur) and s.etat.libelleString in [etatEnum.Ouverte.value, etatEnum.Cloturee.value] %}
                                            <div x-data="{ open: false }">
                                                {# Bouton d'annulation #}
                                                <button @click="open = true" class="icon-hover-transition" title="Annuler">
                                                    <i class="fa-solid fa-trash mx-1"></i>
                                                </button>
                                                {# Modal #}
                                                <div x-show="open" x-transition class="fixed inset-0 z-50 flex items-center justify-center bg-white bg-opacity-50">
                                                    <div @click.away="open = false" class="bg-white p-6 rounded-lg w-full max-w-md shadow-lg">
                                                        <h2 class="text-xl font-semibold mb-4">Motif d'annulation</h2>

                                                        <form method="post" action="{{ path('sortie_annuler', {id: s.id}) }}">
                                                            <textarea name="motif" required rows="4" class="w-full border border-gray-300 rounded p-2 mb-4" placeholder="Saisissez le motif..."></textarea>

                                                            <div class="flex justify-end space-x-2">
                                                                <button type="button" @click="open = false" class="px-4 py-2 bg-gray-300 text-black rounded hover:bg-gray-400">Annuler</button>
                                                                <button type="submit" class="px-4 py-2 btn-hover-transition">Confirmer</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="my-6 px-4">
                    <a href="{{ path('sortie_create') }}" class="w-full bg-[#fac108] text-black py-2 px-4 rounded-md shadow-sm hover:bg-black hover:text-[#fac108] transition duration-300 ease-in-out cursor-pointer focus:outline-none ">Créer une sortie</a>
                </div>
            {% else %}
                <div class="flex flex-col justify-around mt-4 px-4 mx-auto">
                    <p>Pas encore de sortie, ajoutez la vôtre !</p>
                    <a
                        href="{{ path('sortie_create') }}"
                        class="text-center mx-auto mt-2 bg-[#fac108] w-fit text-black py-2 px-4 rounded-md shadow-sm hover:bg-black hover:text-[#fac108] transition duration-300 ease-in-out cursor-pointer focus:outline-none ">Créer une sortie</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
