{% extends 'layouts/base.html.twig' %}

{% block title %}Liste des sorties | {{  parent() }}{% endblock %}

{% block body %}

    <h2 class="font-light leading-snug tracking-tight text-slate-500 mx-auto my-6 w-full text-xl lg:max-w-2xl lg:text-4xl">Filtrer les sorties</h2>
    <div class="flex flew-row items-center">
        <div class="mt-10 flex items-center justify-center w-full">
            {{ form_start(searchForm, {'attr': {'class': 'w-5/6'}}) }}
            <div class="flex flex-row m-3 justify-around">
                {{ form_label(searchForm.campus) }}
                {{ form_widget(searchForm.campus, {'attr': {'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-[#fac108] focus:ring-opacity-50'}}) }}
                {% if searchForm.campus.vars.errors|length > 0 %}
                    <p class="text-red-500 text-sm mt-2">
                        {% for error in searchForm.campus.vars.errors %}
                            <span>{{ error.message }}</span><br>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            <div class="flex flex-row m-3 p-3 items-start justify-between">
                <p class="px-2">{{ form_label(searchForm.search) }}</p>
                {{ form_widget(searchForm.search, {'attr': {'class': 'form-input mt-1 block w-1/3 rounded-md border-gray-300 shadow-sm focus:ring focus:ring-[#fac108] focus:ring-opacity-50'}}) }}
                {% if searchForm.search.vars.errors|length > 0 %}
                    <p class="text-red-500 text-sm mt-2">
                        {% for error in searchForm.search.vars.errors %}
                            <span>{{ error.message }}</span><br>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
            <div class="flex flex-row justify-between w-1/2">
                <div class="flex flex-row m-3">
                    <p class="px-2">{{ form_label(searchForm.dateDebut) }}</p>
                    {{ form_widget(searchForm.dateDebut, {'attr': {'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-[#fac108] focus:ring-opacity-50'}}) }}
                    {% if searchForm.dateDebut.vars.errors|length > 0 %}
                        <p class="text-red-500 text-sm mt-2">
                            {% for error in searchForm.dateDebut.vars.errors %}
                                <span>{{ error.message }}</span><br>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
                <div class="flex flex-row m-3">
                    <p class="px-2">{{ form_label(searchForm.dateFin) }}</p>
                    {{ form_widget(searchForm.dateFin, {'attr': {'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring focus:ring-[#fac108] focus:ring-opacity-50'}}) }}
                    {% if searchForm.dateFin.vars.errors|length > 0 %}
                        <p class="text-red-500 text-sm mt-2">
                            {% for error in searchForm.dateFin.vars.errors %}
                                <span>{{ error.message }}</span><br>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <button class="mr-4 h-fit w-1/4 bg-[#fac108] text-black py-2 px-4 rounded-md shadow-sm hover:bg-black hover:text-[#fac108] transition duration-300 ease-in-out cursor-pointer focus:outline-none">Rechercher</button>
        {{ form_end(searchForm) }}

    </div>



    <h1 class="font-light leading-snug tracking-tight text-slate-800 mx-auto my-6 w-full text-2xl lg:max-w-3xl lg:text-5xl">Liste des sorties</h1>
    <div class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-lg bg-clip-border px-4">
        <table class="w-full text-left table-auto min-w-max text-slate-800">
            <thead>
                <tr class="text-slate-500 border-b border-slate-300 bg-slate-50">
                    <th class="p-4"><p class="text-sm leading-none font-normal">Nom de la sortie</p></th>
                    <th class="p-4"><p class="text-sm leading-none font-normal">Date de la sortie</p></th>
                    <th class="p-4"><p class="text-sm leading-none font-normal">Clôture</p></th>
                    <th class="p-4"><p class="text-sm leading-none font-normal">Inscrits/Places</p></th>
                    <th class="p-4"><p class="text-sm leading-none font-normal">Etat</p></th>
                    <th class="p-4"><p class="text-sm leading-none font-normal">Inscrit</p></th>
                    <th class="p-4"><p class="text-sm leading-none font-normal">Organisateur</p></th>
                    <th class="p-4"><p class="text-sm leading-none font-normal">Actions</p></th>
                </tr>
            </thead>
            <tbody>
                {% for s in sorties %}
                    <tr class="hover:bg-slate-50">
                        <td class="p-4"><p class="text-sm font-bold">{{ s.nom }}</p></td>
                        <td class="p-4"><p class="text-sm font-bold">{{ s.dateHeureDebut | date('d/m/Y H:i') }}</p></td>
                        <td class="p-4"><p class="text-sm font-bold">{{ s.dateLimiteInscription | date('d/m/Y') }}</p></td>
                        <td class="p-4"><p class="text-sm font-bold">{{ s.participants | length }} / {{ s.nbInscriptionMax }}</p></td>
                        <td class="p-4"><p class="text-sm font-bold">{{ s.etat.libelle.value }}</p></td>
                        <td class="p-4"><p class="text-sm font-bold">X</p></td>
                        <td class="p-4"><p class="text-sm font-bold">{{ s.organisateur.prenom }} {{ s.organisateur.prenom }}</p></td>
                        <td class="p-4"><p class="text-sm font-bold">
                            <div class="block text-center">
                                <button class="text-slate-600 hover:text-slate-800">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                        <path d="M3.375 3C2.339 3 1.5 3.84 1.5 4.875v.75c0 1.036.84 1.875 1.875 1.875h17.25c1.035 0 1.875-.84 1.875-1.875v-.75C22.5 3.839 21.66 3 20.625 3H3.375Z" />
                                        <path fill-rule="evenodd" d="m3.087 9 .54 9.176A3 3 0 0 0 6.62 21h10.757a3 3 0 0 0 2.995-2.824L20.913 9H3.087ZM12 10.5a.75.75 0 0 1 .75.75v4.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06l1.72 1.72v-4.94a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                                <button class="text-slate-600 hover:text-slate-800">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                                        <path d="M7.5 3.375c0-1.036.84-1.875 1.875-1.875h.375a3.75 3.75 0 0 1 3.75 3.75v1.875C13.5 8.161 14.34 9 15.375 9h1.875A3.75 3.75 0 0 1 21 12.75v3.375C21 17.16 20.16 18 19.125 18h-9.75A1.875 1.875 0 0 1 7.5 16.125V3.375Z" />
                                        <path d="M15 5.25a5.23 5.23 0 0 0-1.279-3.434 9.768 9.768 0 0 1 6.963 6.963A5.23 5.23 0 0 0 17.25 7.5h-1.875A.375.375 0 0 1 15 7.125V5.25ZM4.875 6H6v10.125A3.375 3.375 0 0 0 9.375 19.5H16.5v1.125c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V7.875C3 6.839 3.84 6 4.875 6Z" />
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<div class="mt-4 px-4">
    <a href="{{ path('sortie_create') }}" class="w-full bg-[#fac108] text-black py-2 px-4 rounded-md shadow-sm hover:bg-black hover:text-[#fac108] transition duration-300 ease-in-out cursor-pointer focus:outline-none ">Créer une sortie</a>
</div>

{% endblock %}

