<div class="flex items-center justify-center h-full">

	<div class=" relative max-w-5xl mt-8 w-full p-8 bg-white shadow-lg rounded-lg border border-gray-200 hover:border hover:border-[#fac108] transition duration-300">
		<h1 class="text-center mb-12 text-2xl font-bold">Création d'un participant</h1>
		{% if participant.profilePicture == null %}
			{% include "partials/profile/defaultProfilePictureAbsolute.html.twig" with {'participant': participant} %}
		{% else %}
			<img src="{{ asset('uploads/profile_pictures/' ~ participant.profilePicture) }}" width="200" height="200" class="absolute top-4 left-4 object-cover w-24 h-24 rounded-xl" alt="Photo de profil">

		{% endif %}

		{{ form_start(form) }}

		<div
			class="space-y-6">

			<!-- Email et Pseudo sur la même ligne -->
			<div class="flex space-x-8">
				<div class="flex-1">
					<div class="mb-2">
						{{ form_label(form.email, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
					</div>
					{{ form_widget(form.email, {'attr': {
            'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-[#fac108] focus:ring-opacity-50',
          }}) }}
					{% if form.email.vars.errors|length > 0 %}
						<p class="text-red-500 text-sm mt-2">
							{% for error in form.email.vars.errors %}
								<span>{{ error.message }}</span><br>
							{% endfor %}
						</p>
					{% endif %}
				</div>

				<div class="flex-1">
					<div class="mb-2">
						{{ form_label(form.pseudo, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
					</div>
					{{ form_widget(form.pseudo, {'attr': {
            'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-[#fac108] focus:ring-opacity-50',
          }}) }}
					{% if form.pseudo.vars.errors|length > 0 %}
						<p class="text-red-500 text-sm mt-2">
							{% for error in form.pseudo.vars.errors %}
								<span>{{ error.message }}</span><br>
							{% endfor %}
						</p>
					{% endif %}
				</div>
			</div>

			<!-- Nom et Prénom sur la même ligne -->
			<div class="flex space-x-8">
				<div class="flex-1">
					<div class="mb-2">
						{{ form_label(form.nom, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
					</div>
					{{ form_widget(form.nom, {'attr': {
            'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-[#fac108] focus:ring-opacity-50',
          }}) }}
					{% if form.nom.vars.errors|length > 0 %}
						<p class="text-red-500 text-sm mt-2">
							{% for error in form.nom.vars.errors %}
								<span>{{ error.message }}</span><br>
							{% endfor %}
						</p>
					{% endif %}
				</div>

				<div class="flex-1">
					<div class="mb-2">
						{{ form_label(form.prenom, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
					</div>
					{{ form_widget(form.prenom, {'attr': {
            'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-[#fac108] focus:ring-opacity-50',
          }}) }}
					{% if form.prenom.vars.errors|length > 0 %}
						<p class="text-red-500 text-sm mt-2">
							{% for error in form.prenom.vars.errors %}
								<span>{{ error.message }}</span><br>
							{% endfor %}
						</p>
					{% endif %}
				</div>
			</div>
			<!-- Mot de passe -->
			<div>
				<div class="mb-2">
					{{ form_label(form.password, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
				</div>
				{{ form_widget(form.password, {'attr': {
          'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-[#fac108] focus:ring-opacity-50',
        }}) }}
				{% if form.password.vars.errors|length > 0 %}
					<p class="text-red-500 text-sm mt-2">
						{% for error in form.password.vars.errors %}
							<span>{{ error.message }}</span><br>
						{% endfor %}
					</p>
				{% endif %}
			</div>

			<!-- campus -->
			<div>
				<div class="mb-2">
					{{ form_label(form.campus, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
				</div>
				{{ form_widget(form.campus, {'attr': {
		  'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-[#fac108] focus:ring-opacity-50',
		}}) }}
				{% if form.campus.vars.errors|length > 0 %}
					<p class="text-red-500 text-sm mt-2">
						{% for error in form.campus.vars.errors %}
							<span>{{ error.message }}</span><br>
						{% endfor %}
					</p>
				{% endif %}
			</div>
			<!-- Téléphone -->
			<div>
				<div class="mb-2">
					{{ form_label(form.telephone, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
				</div>
				{{ form_widget(form.telephone, {'attr': {
          'class': 'form-input mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:ring-[#fac108] focus:ring-opacity-50',
        }}) }}
				{% if form.telephone.vars.errors|length > 0 %}
					<p class="text-red-500 text-sm mt-2">
						{% for error in form.telephone.vars.errors %}
							<span>{{ error.message }}</span><br>
						{% endfor %}
					</p>
				{% endif %}
			</div>


			<!-- administrateur -->
			<div class="flex items-center space-x-2 mb-4">
				{{ form_widget(form.administrateur, {
		'attr': {
			'class': 'form-checkbox text-yellow-500 rounded border-gray-300 focus:ring-[#fac108]'
		}
	}) }}
				<label for="{{ form.administrateur.vars.id }}" class="text-sm font-medium text-gray-700">
					{{ form.administrateur.vars.label }}
				</label>
			</div>

			{% if form.administrateur.vars.errors|length > 0 %}
				<p class="text-red-500 text-sm mt-1">
					{% for error in form.administrateur.vars.errors %}
						<span>{{ error.message }}</span><br>
					{% endfor %}
				</p>
			{% endif %}
			<!-- Actif -->
			<div class="flex items-center space-x-2 mb-4">
				{{ form_widget(form.actif, {
		'attr': {
			'class': 'form-checkbox text-yellow-500 rounded border-gray-300 focus:ring-[#fac108]'
		}
	}) }}
				<label for="{{ form.actif.vars.id }}" class="text-sm font-medium text-gray-700">
					{{ form.actif.vars.label }}
				</label>
			</div>

			{% if form.actif.vars.errors|length > 0 %}
				<p class="text-red-500 text-sm mt-1">
					{% for error in form.actif.vars.errors %}
						<span>{{ error.message }}</span><br>
					{% endfor %}
				</p>
			{% endif %}


			<!-- Bouton -->
			<div class="pt-4">
				<button type="submit" class="w-full bg-[#fac108] text-black py-3 px-6 rounded-md shadow-sm hover:bg-black hover:text-[#fac108] transition duration-300 ease-in-out cursor-pointer focus:outline-none">
					Soumettre
				</button>
			</div>

		</div>

		{{ form_end(form) }}</div>
</div>

{% block script %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {

const inputNom = document.getElementById('participant_type_create_nom');
const inputPrenom = document.getElementById('participant_type_create_prenom');
const initial = document.getElementById('profile-initial');

let nom = '';
let prenom = '';

function updateInitial() {
const firstLetterPrenom = prenom.charAt(0).toUpperCase();
const secondLetterNom = nom.charAt(0) ? nom.charAt(0).toUpperCase() : '';
console.log(firstLetterPrenom, secondLetterNom);
initial.textContent = firstLetterPrenom + secondLetterNom;
}

inputNom.addEventListener('input', function () {
nom = this.value;
updateInitial();
});

inputPrenom.addEventListener('input', function () {
prenom = this.value;
updateInitial();
});


})
	</script>
{% endblock %}
