{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<!-- DataTables CSS -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block body %}
	<div class="container mx-auto mt-10 px-4">
		<h1 class="text-3xl font-bold mb-6 text-center">Liste des participants</h1>
		<div class="my-6 px-4">
			<a href="{{ path('admin_participants_create') }}" class="w-full bg-[#fac108] text-black py-2 px-4 rounded-md shadow-sm hover:bg-black hover:text-[#fac108] transition duration-300 ease-in-out cursor-pointer focus:outline-none ">Créer un utilisateur</a>
		</div>

		<select name="campus" id="campusEl" class="block w-max mb-4 max-w-xs rounded-lg border border-gray-300 bg-white px-4 py-2 text-sm text-gray-700 shadow-sm focus:border-[#fac108] focus:ring focus:ring-[#fac108]/50">
			<option value="all">Tous les campus</option>
			{% for campus in campuses %}
				<option value="{{ campus.getNom() }}">{{ campus.nom }}</option>
			{% endfor %}
		</select>

		<label for="activeEl">Afficher uniquement les participants actifs</label>
		<input type="checkbox" id="activeEl" class="mb-4">

		<div class="overflow-x-auto rounded-lg">
			<table id="participants-table" class="min-w-full divide-y divide-gray-200 bg-white display">
				<thead class="bg-[#fac108] text-black">
					<tr>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">ID</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Image</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Pseudo</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Nom</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Prénom</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Email</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Téléphone</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Campus</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Actif</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Admin</th>
						<th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Modifier</th>
					</tr>
				</thead>
				<tbody class="divide-y divide-gray-200">
					{% for participant in participants %}
						<tr class="hover:bg-gray-50">
							<td class="px-6 py-4 text-sm text-gray-800">{{ participant.id }}</td>
							{% if participant.profilePicture == null %}
								<td class="px-6 py-4 text-sm text-gray-800">
									{% include "partials/profile/defaultProfilePicture.html.twig" with {'participant': participant} %}
								</td>
							{% else %}
								<td class="px-6 py-4 text-sm text-gray-800">
									<img src="{{ asset('uploads/profile_pictures/' ~ participant.profilePicture) }}" class="object-cover w-20 h-20 rounded-xl" width="100" height="100" alt="Photo de profil">
								</td>
							{% endif %}
							<td class="px-6 py-4 text-sm text-gray-800">{{ participant.pseudo }}</td>
							<td class="px-6 py-4 text-sm text-gray-800">{{ participant.nom }}</td>
							<td class="px-6 py-4 text-sm text-gray-800">{{ participant.prenom }}</td>
							<td class="px-6 py-4 text-sm text-gray-800">{{ participant.email }}</td>
							<td class="px-6 py-4 text-sm text-gray-800">{{ participant.telephone ?? '-' }}</td>
							<td class="px-6 py-4 text-sm text-gray-800">{{ participant.campus.nom }}</td>
							<td class="px-6 py-4 text-sm">


								<form action="{{ path('admin_participants_setActif', {'pseudo': participant.pseudo}) }}" method="POST">
									<input type="hidden" name="_token" value="{{ csrf_token('set_actif_' ~ participant.pseudo) }}">
									<button type="submit">
										<span class="cursor-pointer inline-block px-2 py-1 text-xs rounded-full transition duration-300 ease-in-out {{ participant.actif ? 'bg-green-200 text-green-800 hover:bg-gray-200 hover:text-gray-800' : 'bg-red-200 text-red-800 hover:bg-gray-200 hover:text-gray-800' }}">
											{{ participant.actif ? 'Oui' : 'Non' }}
										</span>
									</button>
								</form>
							</td>
							<td class="px-6 py-4 text-sm">
								{% if participant.administrateur %}
									<span class="cursor-not-allowed inline-block px-2 py-1 text-xs rounded-full transition duration-300 ease-in-out bg-yellow-200 text-yellow-800">
										Oui
									</span>
								{% else %}
									<form action="{{ path('admin_participants_setAdmin', {'pseudo': participant.pseudo}) }}" method="POST" onsubmit="return confirm('Etes-vous sur de vouloir passer {{ participant.pseudo }} en admin ? Cette action est irreversible')">
										<input type="hidden" name=" _token" value=" {{ csrf_token('set_admin_' ~ participant.pseudo) }} ">
										<button type="submit">
											<span class="cursor-pointer inline-block px-2 py-1 text-xs rounded-full transition duration-300 ease-in-out bg-gray-200 text-gray-800 hover:bg-yellow-200 hover:text-yellow-800">
												Non
											</span>
										</button>
									</form>
								{% endif %}


							</td>
							<td class="px-6 py-4 text-sm">
								<a href="{{path('admin_participants_modify', {'pseudo': participant.pseudo})}}">
									<i class="cursor-pointer fa-sharp-duotone fa-solid fa-square-pen fa-2xl text-[#fac108] hover:text-black transition duration-300 ease-in-out"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="9" class="px-6 py-4 text-center text-sm text-gray-500">Aucun participant trouvé.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="my-6 px-4">
				<a href="{{ path('admin_participants_create') }}" class="w-full bg-[#fac108] text-black py-2 px-4 rounded-md shadow-sm hover:bg-black hover:text-[#fac108] transition duration-300 ease-in-out cursor-pointer focus:outline-none ">Créer un utilisateur</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<!-- DataTables JS -->
	<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function () {
const table = $("#participants-table").DataTable({
order: [
[2, "asc"]
],
columnDefs: [
{
targets: [
1, 10
],
orderable: false
}
]
});


const campusEl = document.querySelector("#campusEl");
const activeEl = document.querySelector("#activeEl");


// Ajout d'une fonction de filtre personnalisé
$.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
let campusChoice = campusEl.value;
let activeChoice = activeEl.checked;

if (activeChoice && data[8].trim() === "Non") {
return false;
}
if (campusChoice === "all") {
return true;
} else {
return data[7] === campusChoice;
}


});

activeEl.addEventListener("change", function () {
table.draw();
})

campusEl.addEventListener("input", function () {
table.draw();
});
});
	</script>
{% endblock %}
